# Week 8 - Real-Time Streaming Pipeline (Kafka on GCE + Spark Structured Streaming)
# Kafka Broker Endpoint (host:port)
KAFKA_BROKER=10.160.15.206:9092

# Network IPs of the Kafka Broker Virtual Machine
KAFKA_VM_INTERNAL_IP=10.160.15.206
KAFKA_VM_EXTERNAL_IP=35.244.13.33

# Kafka Topic Name
KAFKA_TOPIC=streaming-data

# Cloud Storage Bucket Name
GCS_BUCKET=your-gcs-bucket-name

# Serverless Producer 2 Cloud Function URL
PRODUCER2_CF_URL=https://producer2-cf-your-function-id.asia-south1.run.app

# Batching and Timing Configurations (optional overrides)
BATCH_SIZE=10
SLEEP_INTERVAL=10
TOTAL_RECORDS=1000
TRIGGER_INTERVAL="5 seconds"
WINDOW_LENGTH="10 seconds"
