# Week 9 - Distributed MLlib Pipeline & Serverless MLOps
# Google Cloud Project Details
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=asia-south1
DATAPROC_CLUSTER_NAME=cluster-bigdata

# Cloud Storage Bucket Name
GCS_BUCKET=your-gcs-bucket-name

# Machine Learning Paths within GCS (optional overrides)
W9_TRAIN_LIBSVM=gs://your-gcs-bucket-name/w9/mnist
W9_MODEL_DIR=w9/model
W9_MODEL_PATH=gs://your-gcs-bucket-name/w9/model/
W9_FULL_TEST_LIBSVM=gs://your-gcs-bucket-name/w9/mnist.t
W9_SAMPLED_TEST_OUT=gs://your-gcs-bucket-name/w9/mnist_test_sampled
W9_INFERENCE_PY=gs://your-gcs-bucket-name/w9/predict.py
W9_PREDICTIONS_OUT=gs://your-gcs-bucket-name/w9/predictions/

# Cross-Validation Hyperparameters
NUM_FOLDS=3
PARALLELISM=2
NUM_SAMPLES=10
