# OPPE 2 - Real-Time Air Quality Streaming Analytics & Dynamic Ranking
# Cloud Storage Bucket Name
GCS_BUCKET=your-gcs-bucket-name

# Apache Kafka Configuration
KAFKA_BROKER=10.160.15.206:9092
KAFKA_VM_INTERNAL_IP=10.160.15.206
KAFKA_VM_EXTERNAL_IP=34.180.45.18
AQ_KAFKA_TOPIC=aqdata

# GCS Ingestion and Output Locations (optional overrides)
OPPE2_GCS_PATH=gs://your-gcs-bucket-name/oppe2/globalAirQuality.csv
OPPE2_CHECKPOINT=gs://your-gcs-bucket-name/oppe2/checkpoints/aq_ranking
OPPE2_OUTPUT_PATH=gs://your-gcs-bucket-name/oppe2/output/aq_city_rankings
