# OPPE 1 - Large-Scale Railway Transit Analytics & Exact Percentile Estimation
# Cloud Storage Bucket Name
GCS_BUCKET=your-gcs-bucket-name

# Dataset & Output Paths (optional overrides)
OPPE_INPUT_PATH=gs://your-gcs-bucket-name/oppe/Train_details_22122017.csv
OPPE_OUTPUT_PATH=gs://your-gcs-bucket-name/oppe/station_stats
